body {
    background-color: #060505;
    background-image:
            radial-gradient(at 47% 33%, hsl(238, 36%, 69%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(276.36, 26%, 92%) 0, transparent 55%);
}

header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px;
    text-align: center;

}


.parallax {
    border-radius: 10px;
    background-image:  url('pexels-cottonbro-studio-4101143.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px; /* Высота может быть настроена в зависимости от ваших потребностей */
}

.parallax-container {
    border-radius: 10px;
    height: 1100px; /* Задайте висоту для контейнера паралаксу */
    overflow-x: hidden; /* Приховати горизонтальний скролл */
    overflow-y: auto; /* Включити вертикальний скролл */
    position: relative; /* Позиціонування відносно батька */
}

.parallax-content {
    height: 1000px; /* Задайте висоту контенту для прокрутки */
}

.parallax-content img {
    width: 100%;
    display: block;
}

section {
    background-color: rgb(157, 140, 140);
    text-align: center;
    padding: 50px 0;
    border-radius: 25px; /* Скругленные углы */
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px; /* Отступ между секциями 20 пикселей */

}




section h2 {
    margin-bottom: 40px;
    background: linear-gradient(90deg, #4ca5cb,#ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

section p {
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

section img {
    width: 100%;
    max-width: 450px;
}


footer {
    background-color: rgba(51, 51, 51, 0.4); /* Прозрачный цвет фона */
    color: #fff; /* Цвет текста */
    padding: 20px;
    text-align: center;

    bottom: 0;
    width: 100%;

}

.ab{
    text-align: center;
    color: darkgrey;
    margin-top: 40px;
}
.aurteame{
    color: whitesmoke;
    margin: 30px 120px 50px;
}
.section1{
    background-color: #b8bacc;

}


/* Стили для ссылок Instagram */
a.instagram-link {
    color: #833ab4; /* Цвет текста */
    text-decoration: none; /* Убрать подчеркивание */
    font-weight: bold; /* Жирный шрифт */
}

a.instagram-link:hover {
    color: #25b452; /* Изменение цвета при наведении */
}

/* Стили для ссылок Telegram */
a.telegram-link {
    color: #0088cc; /* Цвет текста */
    text-decoration: none; /* Убрать подчеркивание */
    font-weight: bold; /* Жирный шрифт */
}
.instagram-link {
    margin-right: 20px; /* Отступ между ссылками Instagram и Telegram 20 пикселей */
}
.telegram-link {
    margin-right: 20px; /* Отступ между ссылками Instagram и Telegram 20 пикселей */
}
.whatsapp-link {
    color: green;
    transition: color 0.3s ease; /* Плавное изменение цвета */
    text-decoration: none; /* Убрать подчеркивание */
}

.whatsapp-link:hover {
    color: #30027c; /* Оранжевый цвет при наведении */

}




a.telegram-link:hover {
    color: #d52d21; /* Изменение цвета при наведении */
}

.telegram-footer{
    color: white;
    text-decoration: none; /* Убрать подчеркивание */
}
.telegram-footer:hover{
    color: #0088cc;
}




@media screen and (max-width: 600px) {
    section {
        width: 100%; /* Изменение ширины секций на 100% для маленьких экранов */
    }
}

@media only screen and (max-width: 600px) {
    .parallax {
        background-attachment: scroll;
        height: 300px; /* Уменьшите высоту для мобильных устройств */
    }
}


@media screen and (max-width: 600px) {
    #team {
        padding: 10px; /* Пример стилей для мобильных устройств */
    }

}
@media screen and (max-width: 600px) {
    .gallery {
        height: 300px;
        /*display: none; !* Скрыть галерею на мобильных устройствах *!*/
    }
}


/*.gallery {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    margin-top: 20px; !* Отступ сверху 20px *!*/
/*    margin-left: 60px;*/
/*    margin-right: 60px;*/
/*}*/

/*.photo {*/
/*    width: calc(20% - 10px); !* Учитываем отступы между фото *!*/
/*    margin-bottom: 20px;*/
/*    overflow: hidden; !* Обрезаем часть увеличенной фотографии *!*/
/*    transition: transform 0.3s ease; !* Плавное изменение при наведении *!*/
/*}*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; /* Отступ сверху 20px */
    margin-left: 60px;
    margin-right: 60px;
}

.photo {
    width: calc(33.33% - 20px); /* Пример: три элемента в ряду, с учетом отступов */
    margin-bottom: 20px;
    overflow: hidden; /* Обрезаем часть увеличенной фотографии */
    transition: transform 0.3s ease; /* Плавное изменение при наведении */
}

.photo img {
    width: 100%; /* Сохраняем соотношение сторон */
    height: auto; /* Автоматический расчет высоты */
}


.photo:hover {
    box-shadow: 0 0 10px rgb(18, 165, 231), 0 0 20px rgb(229, 225, 220); /* Добавляем двойную тень */
    transform: scale(1.1); /* Увеличиваем фотографию при наведении на 20% */
}



.photo img {
    width: 100%; /* Сохраняем соотношение сторон */
    max-width: 500px; /* Максимальная ширина фотографии */
    height: auto; /* Автоматический расчет высоты */
}

.history {
    background-color: rgba(255, 255, 255, 0.1); /* Цвет фона с прозрачностью */
    padding: 20px; /* Поля вокруг текста */
    margin-top: 80px;
    color: white;
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */

}
.history:hover {
    background-color: rgba(9, 8, 8, 0.75); /* Увеличение прозрачности при наведении на 75% */
}
nav {
    background-color: #090909;
    /*text-align: center;*/
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}



nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
}

nav a:hover {
    color: #4ca5cb; /* Цвет ссылок при наведении */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5); /* Тень вокруг фото */
}


.hederMainText{
    /*background: linear-gradient(90deg, #550dcb,#ff00c3);*/
    /*-webkit-background-clip: text;*/
    /*background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    margin-top: 60px;
}
section:hover {
    background-color: #e9ece8; /* Светло-зеленый цвет при наведении */
    box-shadow: 0 0 90px rgb(18, 70, 166); /* Тень */
}





.section1 img {
    border-radius: 10px; /* Скругление углов фото */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавное изменение при наведении */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5); /* Тень вокруг фото */
}

.section1 img:hover {
    transform: scale(1.1); /* Увеличение фото при наведении на 10% */
    box-shadow: 0 0 25px rgb(85, 13, 203); /* Увеличение тени при наведении */
}


.footerLinkText{
    margin-bottom: 40px;
    background: linear-gradient(90deg, #4ca5cb,#ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}





